*{
    font-family: Times New Roman, Times, serif;
}
.header{
    display: inline-flex;
    gap:100px;
}
.h3{
    text-align: center;
}
.ol{
    text-align: center;
}
div{
    text-align:justify;

}
em{
    color: darkgray;
}